@font-face {
    font-family: 'futura';
    src: url("font.otf");
    font-style: normal;
}


body {
    margin: 0;
    color: #000;
    font-family: arial;
}

a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background: #000;
}

header > h1 {
    width: 30%;
    margin: 2.5vh;
    font-size: 5vh;
    font-family: futura;
}

header > h1 > span {
    font-family: arial;
}

header > div {
    width: 60%;
    margin: auto 5%;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header > div > a, h1 > span, h1 {
    margin: auto;
    color: #fff;
}

main {
    margin: 3% 10%;
}

main > div {
    display: flex;
    justify-content: space-between;
}

main > div > h4 {
	font-size: 20px;
	margin: auto 0;
	width: 50%;
	text-align: justify;
}

main > div > h2 {
	margin: auto 0;
	width: 44vw;
}

main > div > img {
    width: 30vw;
    height: auto;
}

main > div > #img {
    width: 25vw;
    height: auto;
    border-radius: 500000px;
}

main > h3 {
	font-size: 35px;
	text-align: center;
	margin: 100px 0 50px 0;
}

footer {
    background: #000;
    width: 100%;
    margin: 200px 0 0 0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

footer > a {
    color: #fff;
    height: 5vh;
    margin: 2.5vh 0;
}








#main-content {
	margin: 0;
}

main > section {
	width: 90vw;
	height: 80vh;
	margin: 5vw;
}

main > section > #message {
	width: 100%;
	height: 70vh;
	margin: 0;
	border: solid #000 2px;
	border-radius: 10px;
	overflow-y: scroll;
}

main > section > #message::-webkit-scrollbar {
	width: 12px;
	height: 8px;
	background: #000;
	border-radius: 0 7px 7px 0;
}

main > section > #message::-webkit-scrollbar-thumb {
	background: #fff;
	border: solid #000 4px;
	width: 4px;
	border-radius: 30px;
}


main > section > #message > .response, .question {
	width: 50vw;
	border: solid #000 2px;
	border-radius: 10px;
	padding: 10px;
}

main > section > #message > .question {
	margin: 20px 2.5vw 20px 36.5vw;
}

main > section > #message > .response{
	margin: 20px 36.5vw 20px 2.5vw;
	background: #000;
	color: #FFF;
	border: double;
}

main > section > input {
	margin: 10px auto;
	width: 90vw;
	height: 35px;
	border: solid #000 2px;
	border-radius: 5px;
}

code {
	font-family: consolas, "Courier New", monospace;
	background: #000;
	color: #FFF;
	border: solid #000 1.5px;
	border-radius: 4px;
}

main > #code {
	width: 100%;
	margin: 0;
}

main > #code > h4 {
	width: 100%;
}

iframe {
	width: 50vw;
	height: 50vh;
}

iframe > html {
	overflow: hidden;
}